.u-section-1 .u-sheet-1 {
  min-height: 45px;
}.u-section-2 .u-sheet-1 {
  min-height: 193px;
}

.u-section-2 .u-text-1 {
  font-family: Comfortaa;
  margin: 116px 556px 0 30px;
}

.u-section-2 .u-line-1 {
  width: 50px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 11px auto 11px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: -191px;
    margin-right: 386px;
  }

  .u-section-2 .u-line-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: -77px;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    margin-top: 19px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 510px;
}

.u-section-3 .u-gallery-1 {
  height: 479px;
  margin-top: 11px;
  margin-bottom: 20px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 11px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 11px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-3 {
    min-height: 100px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1419px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: Comfortaa;
  margin: 60px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 0 937px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  font-family: Comfortaa;
  font-weight: 500;
  margin: 29px 0 0 61px;
}

.u-section-4 .u-text-4 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 29px 846px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  font-family: Comfortaa;
  font-weight: 500;
  margin: 29px 0 0 61px;
}

.u-section-4 .u-text-6 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 29px 855px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: Comfortaa;
  margin: 29px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 29px 846px 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: Comfortaa;
  margin: 29px 0 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 29px 937px 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: Comfortaa;
  margin: 28px 0 0 61px;
}

.u-section-4 .u-text-12 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 28px 846px 0 0;
}

.u-section-4 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 28px 0 0 61px;
}

.u-section-4 .u-text-14 {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 28px 256px 0 0;
}

.u-section-4 .u-text-15 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 28px 0 28px 61px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 803px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 737px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 646px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 655px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 646px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 737px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 646px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
  }

  .u-section-4 .u-text-14 {
    margin-right: 56px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 517px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 426px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 435px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 426px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 517px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 426px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 337px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-4 {
    margin-right: 246px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-6 {
    margin-right: 255px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-8 {
    margin-right: 246px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-10 {
    margin-right: 337px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-12 {
    margin-right: 246px;
  }

  .u-section-4 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-15 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 137px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 46px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 55px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
    margin-right: 46px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.5rem;
    margin-right: 137px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.5rem;
    margin-right: 46px;
  }

  .u-section-4 .u-text-14 {
    font-size: 1.5rem;
  }
}.u-block-0818-7 {
  position: absolute;
  top: 132px;
  width: auto;
  height: auto;
}

.u-block-0818-8 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 50px);
  width: 36px;
  height: 36px;
  top: 100px;
  right: auto;
}

.u-block-0818-9 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: auto;
  top: 100px;
  right: calc(((100% - 1140px) / 2)  + 50px);
}

@media (max-width: 1199px) {
  .u-block-0818-8 {
    left: calc(((100% - 940px) / 2)  + 41px);
  }

  .u-block-0818-9 {
    right: calc(((100% - 940px) / 2)  + 41px);
  }
}

@media (max-width: 991px) {
  .u-block-0818-8 {
    left: calc(((100% - 720px) / 2)  + 31px);
  }

  .u-block-0818-9 {
    right: calc(((100% - 720px) / 2)  + 31px);
  }
}

@media (max-width: 767px) {
  .u-block-0818-8 {
    left: calc(((100% - 540px) / 2)  + 23px);
  }

  .u-block-0818-9 {
    right: calc(((100% - 540px) / 2)  + 23px);
  }
}

@media (max-width: 575px) {
  .u-block-0818-8 {
    left: calc(((100% - 340px) / 2)  + 14px);
  }

  .u-block-0818-9 {
    right: calc(((100% - 340px) / 2)  + 14px);
  }
}

.u-section-5-1 .u-sheet-1 {
  min-height: 361px;
}

.u-section-5-1 .u-text-1 {
  font-family: Comfortaa;
  font-size: 1.25rem;
  line-height: 1.6;
  background-image: none;
  font-weight: 700;
  margin: 11px 56px 0 30px;
}

.u-section-5-1 .u-btn-1 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: 30px auto 0 300px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-1 .u-btn-2 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 392px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-1 .u-btn-3 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 484px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-1 .u-btn-4 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 576px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-1 .u-btn-5 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 760px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-1 .u-btn-6 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 668px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-1 .u-layout-wrap-1 {
  width: 600px;
  margin: 56px auto 30px;
}

.u-section-5-1 .u-layout-cell-1 {
  min-height: 157px;
  background-image: none;
}

.u-section-5-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 21px 17px;
}

.u-section-5-1 .u-text-2 {
  font-family: Comfortaa;
  font-size: 1.5rem;
  margin: 0 14px 0 4px;
}

.u-section-5-1 .u-text-3 {
  letter-spacing: 0px;
  font-style: italic;
  line-height: 1.4;
  font-weight: 500;
  font-family: Comfortaa;
  font-size: 1.125rem;
  margin: 19px 0 0 16px;
}

.u-section-5-1 .u-line-1 {
  width: 20px;
  transform-origin: left center 0px;
  position: absolute;
  top: 47px;
  left: 271px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-5-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5-1 .u-btn-1 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-1 .u-btn-2 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-1 .u-btn-3 {
    margin-left: 20px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-1 .u-btn-4 {
    margin-left: 112px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-1 .u-btn-5 {
    margin-left: 296px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-1 .u-btn-6 {
    margin-left: 204px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-5-1 .u-btn-3 {
    margin-left: 12px;
  }

  .u-section-5-1 .u-btn-4 {
    margin-left: 12px;
  }

  .u-section-5-1 .u-btn-5 {
    margin-left: 76px;
  }

  .u-section-5-1 .u-btn-6 {
    margin-left: 12px;
  }

  .u-section-5-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-5-1 .u-btn-5 {
    margin-left: 12px;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding: 50px 30px;
  }

  .u-section-5-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding: 21px 10px;
  }
}

.u-section-5-2 .u-sheet-1 {
  min-height: 360px;
}

.u-section-5-2 .u-text-1 {
  font-family: Comfortaa;
  font-size: 1.25rem;
  line-height: 1.6;
  background-image: none;
  font-weight: 700;
  margin: 10px 56px 0 30px;
}

.u-section-5-2 .u-btn-1 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: 30px auto 0 300px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-2 .u-btn-2 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 392px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-2 .u-btn-3 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 484px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-2 .u-btn-4 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 576px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-2 .u-btn-5 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 760px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-2 .u-btn-6 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 668px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-2 .u-layout-wrap-1 {
  width: 600px;
  margin: 56px auto 30px;
}

.u-section-5-2 .u-layout-cell-1 {
  min-height: 157px;
  background-image: none;
}

.u-section-5-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 21px;
}

.u-section-5-2 .u-text-2 {
  font-family: Comfortaa;
  font-size: 1.5rem;
  margin: 0 10px 0 0;
}

.u-section-5-2 .u-text-3 {
  letter-spacing: 0px;
  font-style: italic;
  line-height: 1.4;
  font-weight: 500;
  font-family: Comfortaa;
  font-size: 1.125rem;
  margin: 19px 0 0 9px;
}

.u-section-5-2 .u-line-1 {
  width: 20px;
  transform-origin: left center 0px;
  position: absolute;
  top: 47px;
  left: 271px;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-5-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5-2 .u-btn-1 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-2 .u-btn-2 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-2 .u-btn-3 {
    margin-left: 20px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-2 .u-btn-4 {
    margin-left: 112px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-2 .u-btn-5 {
    margin-left: 296px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-2 .u-btn-6 {
    margin-left: 204px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-2 .u-line-1 {
    right: 257px;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-5-2 .u-btn-3 {
    margin-left: 12px;
  }

  .u-section-5-2 .u-btn-4 {
    margin-left: 12px;
  }

  .u-section-5-2 .u-btn-5 {
    margin-left: 76px;
  }

  .u-section-5-2 .u-btn-6 {
    margin-left: 12px;
  }

  .u-section-5-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5-2 .u-text-2 {
    margin-right: 1px;
  }

  .u-section-5-2 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-5-2 .u-btn-5 {
    margin-left: 12px;
  }

  .u-section-5-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5-2 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-5-2 .u-container-layout-1 {
    padding: 50px 30px;
  }

  .u-section-5-2 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-5-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5-2 .u-container-layout-1 {
    padding: 21px 10px;
  }

  .u-section-5-2 .u-text-2 {
    margin-right: 0;
  }
}

.u-section-5-3 .u-sheet-1 {
  min-height: 360px;
}

.u-section-5-3 .u-text-1 {
  font-family: Comfortaa;
  font-size: 1.25rem;
  line-height: 1.6;
  background-image: none;
  font-weight: 700;
  margin: 10px 56px 0 30px;
}

.u-section-5-3 .u-btn-1 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: 30px auto 0 300px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-3 .u-btn-2 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 392px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-3 .u-btn-3 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 484px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-3 .u-btn-4 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 576px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-3 .u-btn-5 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 760px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-3 .u-btn-6 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 668px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-3 .u-layout-wrap-1 {
  width: 600px;
  margin: 56px auto 30px;
}

.u-section-5-3 .u-layout-cell-1 {
  min-height: 157px;
  background-image: none;
}

.u-section-5-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 21px;
}

.u-section-5-3 .u-text-2 {
  font-family: Comfortaa;
  font-size: 1.5rem;
  margin: 0 10px 0 0;
}

.u-section-5-3 .u-text-3 {
  letter-spacing: 0px;
  font-style: italic;
  line-height: 1.4;
  font-weight: 500;
  font-family: Comfortaa;
  font-size: 1.125rem;
  margin: 19px 0 0 9px;
}

.u-section-5-3 .u-line-1 {
  width: 20px;
  transform-origin: left center 0px;
  position: absolute;
  top: 47px;
  left: 271px;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-5-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5-3 .u-btn-1 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-3 .u-btn-2 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-3 .u-btn-3 {
    margin-left: 20px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-3 .u-btn-4 {
    margin-left: 112px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-3 .u-btn-5 {
    margin-left: 296px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-3 .u-btn-6 {
    margin-left: 204px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-5-3 .u-btn-3 {
    margin-left: 12px;
  }

  .u-section-5-3 .u-btn-4 {
    margin-left: 12px;
  }

  .u-section-5-3 .u-btn-5 {
    margin-left: 76px;
  }

  .u-section-5-3 .u-btn-6 {
    margin-left: 12px;
  }

  .u-section-5-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5-3 .u-text-2 {
    margin-right: 1px;
  }

  .u-section-5-3 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-5-3 .u-btn-5 {
    margin-left: 12px;
  }

  .u-section-5-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5-3 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-5-3 .u-container-layout-1 {
    padding: 50px 30px;
  }

  .u-section-5-3 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-5-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5-3 .u-container-layout-1 {
    padding: 21px 10px;
  }

  .u-section-5-3 .u-text-2 {
    margin-right: 0;
  }
}

.u-section-5-4 .u-sheet-1 {
  min-height: 360px;
}

.u-section-5-4 .u-text-1 {
  font-family: Comfortaa;
  font-size: 1.25rem;
  line-height: 1.6;
  background-image: none;
  font-weight: 700;
  margin: 10px 56px 0 30px;
}

.u-section-5-4 .u-btn-1 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: 30px auto 0 300px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-4 .u-btn-2 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 392px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-4 .u-btn-3 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 484px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-4 .u-btn-4 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 576px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-4 .u-btn-5 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 760px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-4 .u-btn-6 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 668px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-4 .u-layout-wrap-1 {
  width: 600px;
  margin: 56px auto 30px;
}

.u-section-5-4 .u-layout-cell-1 {
  min-height: 157px;
  background-image: none;
}

.u-section-5-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 21px;
}

.u-section-5-4 .u-text-2 {
  font-family: Comfortaa;
  font-size: 1.5rem;
  margin: 0 10px 0 0;
}

.u-section-5-4 .u-text-3 {
  letter-spacing: 0px;
  font-style: italic;
  line-height: 1.4;
  font-weight: 500;
  font-family: Comfortaa;
  font-size: 1.125rem;
  margin: 18px 31px 0;
}

.u-section-5-4 .u-line-1 {
  width: 20px;
  transform-origin: left center 0px;
  position: absolute;
  top: 47px;
  left: 271px;
}

@media (max-width: 1199px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-5-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5-4 .u-btn-1 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-4 .u-btn-2 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-4 .u-btn-3 {
    margin-left: 20px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-4 .u-btn-4 {
    margin-left: 112px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-4 .u-btn-5 {
    margin-left: 296px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-4 .u-btn-6 {
    margin-left: 204px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-5-4 .u-btn-3 {
    margin-left: 12px;
  }

  .u-section-5-4 .u-btn-4 {
    margin-left: 12px;
  }

  .u-section-5-4 .u-btn-5 {
    margin-left: 76px;
  }

  .u-section-5-4 .u-btn-6 {
    margin-left: 12px;
  }

  .u-section-5-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5-4 .u-text-2 {
    margin-right: 1px;
  }

  .u-section-5-4 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-5-4 .u-btn-5 {
    margin-left: 12px;
  }

  .u-section-5-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5-4 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-5-4 .u-container-layout-1 {
    padding: 50px 30px;
  }

  .u-section-5-4 .u-text-3 {
    margin-right: 12px;
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-5-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5-4 .u-container-layout-1 {
    padding: 21px 10px;
  }

  .u-section-5-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

.u-section-5-5 .u-sheet-1 {
  min-height: 360px;
}

.u-section-5-5 .u-text-1 {
  font-family: Comfortaa;
  font-size: 1.25rem;
  line-height: 1.6;
  background-image: none;
  font-weight: 700;
  margin: 10px 56px 0 30px;
}

.u-section-5-5 .u-btn-1 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: 30px auto 0 300px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-5 .u-btn-2 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 392px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-5 .u-btn-3 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 484px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-5 .u-btn-4 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 576px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-5 .u-btn-5 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 760px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-5 .u-btn-6 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 668px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-5 .u-layout-wrap-1 {
  width: 600px;
  margin: 56px auto 30px;
}

.u-section-5-5 .u-layout-cell-1 {
  min-height: 157px;
  background-image: none;
}

.u-section-5-5 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 21px;
}

.u-section-5-5 .u-text-2 {
  font-family: Comfortaa;
  font-size: 1.5rem;
  margin: 0 10px 0 0;
}

.u-section-5-5 .u-text-3 {
  letter-spacing: 0px;
  font-style: italic;
  line-height: 1.4;
  font-weight: 500;
  font-family: Comfortaa;
  font-size: 1.125rem;
  margin: 19px 0 0 9px;
}

.u-section-5-5 .u-line-1 {
  width: 20px;
  transform-origin: left center 0px;
  position: absolute;
  top: 47px;
  left: 271px;
}

@media (max-width: 1199px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-5-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5-5 .u-btn-1 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-5 .u-btn-2 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-5 .u-btn-3 {
    margin-left: 20px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-5 .u-btn-4 {
    margin-left: 112px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-5 .u-btn-5 {
    margin-left: 296px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-5 .u-btn-6 {
    margin-left: 204px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-5-5 .u-btn-3 {
    margin-left: 12px;
  }

  .u-section-5-5 .u-btn-4 {
    margin-left: 12px;
  }

  .u-section-5-5 .u-btn-5 {
    margin-left: 76px;
  }

  .u-section-5-5 .u-btn-6 {
    margin-left: 12px;
  }

  .u-section-5-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5-5 .u-text-2 {
    margin-right: 1px;
  }

  .u-section-5-5 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-5-5 .u-btn-5 {
    margin-left: 12px;
  }

  .u-section-5-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5-5 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-5-5 .u-container-layout-1 {
    padding: 50px 30px;
  }

  .u-section-5-5 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-5-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5-5 .u-container-layout-1 {
    padding: 21px 10px;
  }

  .u-section-5-5 .u-text-2 {
    margin-right: 0;
  }
}

.u-section-5-6 .u-sheet-1 {
  min-height: 360px;
}

.u-section-5-6 .u-text-1 {
  font-family: Comfortaa;
  font-size: 1.25rem;
  line-height: 1.6;
  background-image: none;
  font-weight: 700;
  margin: 10px 56px 0 30px;
}

.u-section-5-6 .u-btn-1 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: 30px auto 0 300px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-6 .u-btn-2 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 392px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-6 .u-btn-3 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 484px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-6 .u-btn-4 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 576px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-6 .u-btn-5 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 760px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-6 .u-btn-6 {
  background-image: none;
  font-family: Comfortaa;
  font-weight: 500;
  margin: -45px auto 0 668px;
  padding: 10px 22px 10px 21px;
}

.u-section-5-6 .u-layout-wrap-1 {
  width: 600px;
  margin: 56px auto 30px;
}

.u-section-5-6 .u-layout-cell-1 {
  min-height: 157px;
  background-image: none;
}

.u-section-5-6 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 21px;
}

.u-section-5-6 .u-text-2 {
  font-family: Comfortaa;
  font-size: 1.5rem;
  margin: 0 10px 0 0;
}

.u-section-5-6 .u-text-3 {
  letter-spacing: 0px;
  font-style: italic;
  line-height: 1.4;
  font-weight: 500;
  font-family: Comfortaa;
  font-size: 1.125rem;
  margin: 19px 0 0 9px;
}

.u-section-5-6 .u-line-1 {
  width: 20px;
  transform-origin: left center 0px;
  position: absolute;
  top: 47px;
  left: 271px;
}

@media (max-width: 1199px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-5-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5-6 .u-btn-1 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-6 .u-btn-2 {
    margin-left: 12px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-6 .u-btn-3 {
    margin-left: 20px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-6 .u-btn-4 {
    margin-left: 112px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-6 .u-btn-5 {
    margin-left: 296px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5-6 .u-btn-6 {
    margin-left: 204px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-5-6 .u-btn-3 {
    margin-left: 12px;
  }

  .u-section-5-6 .u-btn-4 {
    margin-left: 12px;
  }

  .u-section-5-6 .u-btn-5 {
    margin-left: 76px;
  }

  .u-section-5-6 .u-btn-6 {
    margin-left: 12px;
  }

  .u-section-5-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5-6 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-5-6 .u-btn-5 {
    margin-left: 12px;
  }

  .u-section-5-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5-6 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-5-6 .u-container-layout-1 {
    padding: 50px 30px;
  }

  .u-section-5-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5-6 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-5-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5-6 .u-container-layout-1 {
    padding: 21px 10px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 192px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 153px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 12px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 11px 0 0;
}

.u-section-6 .u-text-2 {
  font-family: Comfortaa;
  margin: 19px 1px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 12px;
}

.u-section-6 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 11px 0 0;
}

.u-section-6 .u-text-4 {
  font-family: Comfortaa;
  margin: 19px 1px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 12px;
}

.u-section-6 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 11px 0 0;
}

.u-section-6 .u-text-6 {
  font-family: Comfortaa;
  margin: 19px 1px 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 30px 12px;
}

.u-section-6 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Comfortaa;
  margin: 11px 0 0;
}

.u-section-6 .u-text-8 {
  font-family: Comfortaa;
  margin: 19px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 245px;
  }

  .u-section-6 .u-text-1 {
    width: 81px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    width: 81px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    width: 81px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    width: 81px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -59px;
    margin-bottom: -59px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 602px;
}

.u-section-7 .u-image-1 {
  height: 567px;
  margin: 0 0 35px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 90px;
}

.u-section-8 .u-text-1 {
  font-family: Comfortaa;
  font-size: 1.25rem;
  margin: 0 445px 0 151px;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-8 .u-text-2 {
  font-family: Comfortaa;
  font-size: 1.25rem;
  margin: -22px 989px 60px 16px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 345px;
    margin-left: 30px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 805px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 176px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 585px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 405px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    margin-right: 205px;
  }
}